In [1]:
import pandas as pd
import numpy as np

dataset=pd.read_csv('../datasets/50_Startups.csv')
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,4].values

In [3]:
dataset.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder = LabelEncoder()
print('*'* 20 +' Before Label Encoder '+'*'*20+'\n')
print(X[:,3])
X[:,3]=labelencoder.fit_transform(X[:,3])
print('*'* 20 +' After Label Encoder '+'*'*20+'\n')
print(X[:,3])

******************** Before Label Encoder ********************

['New York' 'California' 'Florida' 'New York' 'Florida' 'New York'
 'California' 'Florida' 'New York' 'California' 'Florida' 'California'
 'Florida' 'California' 'Florida' 'New York' 'California' 'New York'
 'Florida' 'New York' 'California' 'New York' 'Florida' 'Florida'
 'New York' 'California' 'Florida' 'New York' 'Florida' 'New York'
 'Florida' 'New York' 'California' 'Florida' 'California' 'New York'
 'Florida' 'California' 'New York' 'California' 'California' 'Florida'
 'California' 'New York' 'California' 'New York' 'Florida' 'California'
 'New York' 'California']
******************** After Label Encoder ********************

[2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1
 0 2 0 0 1 0 2 0 2 1 0 2 0]

In [ ]:

onehotencoder=OneHotEncoder(categories='auto')
print('*'* 20 +' Before One hot Encoder '+'*'*20+'\n')
print(X)
X=onehotencoder.fit_transform(X).toarray()
print('*'* 20 +' After One hot Encoder '+'*'*20+'\n')
print(X)

In [5]:
X=X[:,1:]

In [6]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression

regression=LinearRegression()
regression=regression.fit(X_train,Y_train)

In [8]:
y_pred= regression.predict(X_test)
print(X_test.size)
print(Y_test.size)
print(X_test, y_pred)

1490
10
[[0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]] [110421.259933    99635.0731779  110421.259933   110421.259933
 110421.259933   119829.39601805 119829.39601805 119829.39601805
 110421.259933   110421.259933  ]